<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Answers</title>
</head>
<body>
    <p>Answers page</p>
        {% block all %}
            {% for i, q, u, c, correct in all %}
                <p>{{ i }}: {{ q }}</p>
                <p>User answer : {{ u }}</p>
                <p>Correct answer: {{ c }}</p>
                <p>Is it correct? {{ correct }}</p>
            {% endfor %}
        {% endblock %}
        {% block total_correct %}
            {% for corr, total in total_correct %}
                <p>Total correct : {{ corr }} out of : {{ total }}</p>
            {% endfor %}
        {% endblock %}
</body>
</html>