{%  include "quiz_generator/header.html" %}
<body>
<div class="container">
    <div class="row">
        <div class="goback">
            <form action="../">
                <input type="submit" class="btn btn-primary" id="home-button" value="New Quiz">
            </form>
        </div>
        {% block total_correct %}
            {% for corr, total in total_correct %}
                <h2 class="results"><b> Your Score: {{ corr }} out of {{ total }}</b></h2>
            {% endfor %}
        {% endblock %}
        {% block all %}
            <div class="col-sm-12 results">
            {% for i, q, u, p, correct in all %}
                    <p><b>{{ i }}: {{ q }}</b></p>
                    <p><b>User answer : </b>{{ u }}</p>
                    <p><b>Correct answer: </b>{{ p }}</p>
            {% endfor %}
            </div>
        {% endblock %}
    </div>
</div>
</body>
</html>