<!DOCTYPE html>
<html lang="en">

<head>
	<title>Quiz Generator</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'quiz_generator/css/bootstrap.min.css' %}" type = "text/css"/>
    <link rel="stylesheet" href="{% static 'quiz_generator/css/funkyradio.css' %}" type = "text/css"/>
    <link rel="stylesheet" href="{% static 'quiz_generator/css/main.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body">
	<div class="container-fluid">
		<div class="row">
			  <div class="col-sm-10">
				  <br>
				  <h1>The Quiz Generator</h1>
			  </div>
		</div><hr>
        <form>
		<div class="row">
            <div class="col-sm-2">
              <div class="funkyradio">
                  <div class="funkyradio-primary">
                      <input type="checkbox" name="checkbox" id="food"/>
                      <label for="food">Food</label>
                  </div>
                  {% block questions %}
                  {% endblock %}
                  <div class="funkyradio-primary">
                      <input type="checkbox" name="checkbox" id="music"/>
                      <label for="music">Music</label>
                  </div>
                  <div class="funkyradio-primary">
                        <input type="checkbox" name="checkbox" id="science"/>
                        <label for="science">Science</label>
                  </div>
                  <div class="funkyradio-primary">
                        <input type="checkbox" name="checkbox" id="animals"/>
                        <label for="animals">Animals</label>
                  </div>
              </div>
            </div>
            <div class="col-sm-2">
                <div class="funkyradio">
                    <div class="funkyradio-primary">
                        <input type="checkbox" name="checkbox" id="movies"/>
                        <label for="movies">Movies</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="checkbox" name="checkbox" id="nature"/>
                        <label for="nature">Nature</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="checkbox" name="checkbox" id="brandnames"/>
                        <label for="brandnames">Brand Names</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="checkbox" name="checkbox" id="sports"/>
                        <label for="sports">Sports</label>
                  </div>
              </div>
		  </div>
        </div>
            <input type="submit" class="btn btn-primary" id="generate-button" value="Generate Quiz!">
            <input type="number" class="form-control" id="spinner" value="10" min="5" max="25">
            <label for="spinner" id="label-spinner">Choose the number of questions:</label>
        </form>
	</div>
	<footer>

	</footer>

</body>

</html>