{%  include "quiz_generator/header.html" %}

<html lang="en">
<body class="body">
	<div class="container-fluid">
        <form method="post" action="/home/questions">
            {% csrf_token %}
            <label for="checklist" id="check-label">Choose categories: </label>
            <label for="num-questions" id="spinner-label">Choose the number of questions:</label>
		<div class="row">
            <div class="col-sm-2">
                <div class="funkyradio" id="checklist">
                  <div class="funkyradio-primary">
                      <input type="checkbox" name="check[]" value="49" id="food"/>
                      <label for="food">Food</label>
                  </div>
                  <div class="funkyradio-primary">
                      <input type="checkbox" name="check[]" value="770" id="music"/>
                      <label for="music">Pop Music</label>
                  </div>
                  <div class="funkyradio-primary">
                        <input type="checkbox" name="check[]" value="25" id="science"/>
                        <label for="science">Science</label>
                  </div>
                  <div class="funkyradio-primary">
                        <input type="checkbox" name="check[]" value="21" id="animals"/>
                        <label for="animals">Animals</label>
                  </div>
              </div>
            </div>
            <div class="col-sm-2">
                <div class="funkyradio" id="checklist2">
                    <div class="funkyradio-primary">
                        <input type="checkbox" name="check[]" value="309" id="movies"/>
                        <label for="movies">Movies</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="checkbox" name="check[]" value="267" id="nature"/>
                        <label for="nature">Nature</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="checkbox" name="check[]" value="2537" id="brandnames"/>
                        <label for="brandnames">Brand Names</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="checkbox" name="check[]" value="42" id="sports"/>
                        <label for="sports">Sports</label>
                  </div>
              </div>
		  </div>
            <div class="col-sm-2">
                <div class="form-group" id="num-questions">
                    <hr />
                    <input type="number" class="form-control" name="spinner" id="spinner" value="10" min="8" max="30">
                    <hr /><hr />

                </div>
                 <input type="submit" class="btn btn-primary" id="generate-button" value="Generate Quiz!">
            </div>
        </div>
        </form>
    </div>
</body>
</html>