{% include "quiz_generator/header.html" %}
<body>

<div class="container">
    <div class="row">
        <div class="goback">
            <form action=".">
                <input type="submit" class="btn btn-primary" id="home-button" value="New Quiz">
            </form>
        </div>
        <div class="quiz">
            <form method="post" action="/home/questions/answers" id="checkbox-form">
            {% csrf_token %}
            {% block both %}
                {% for n, q, a in both %}
                <input type="hidden" name="question[]" value="{{ q }}">
                <p class="question">{{ n }}. {{ q }}?</p>
                    <input type="hidden" name="right_answer[]" value="{{ a }}">
                    <p>Answer : <input type="text" class="user_answer form-control" name="answer[]"></p>
                {% endfor %}
            {% endblock %}
             <input type="submit" class="btn-lg btn-primary" id="answer-button" value="Check Answers">
            <hr />
            <hr />
            </form>
            <form method="post" action="/home/questions/pdf", id="pdf-form">
                {% csrf_token %}
                    {% for n,q,a in both %}
                      <input type="hidden" name="pdf_questions[]" value="{{ q }}">
                      <input type="hidden" name="pdf_answers[]" value="{{ a }}">
                    {% endfor %}
                 <input type="submit" class="btn btn-primary" id="generate-button" value="Generate PDF!">
            </form>
        </div>
    </div>
</div>

</body>